/**
 * Config: Layout
 * -----------------------------------------------------------------------------
 * Used to create larger spacial differences most commonly with positioning components
 * on a page (ie. the space between a Text fields and a Select). The Layout Scale controls
 * & the amount of white space set between larger elements.
 *
 */
$LAYOUT_S: 4rem;
$LAYOUT_M: 6rem;
$LAYOUT_L: 10rem;
