/**
 * Config: Spacing
 * -----------------------------------------------------------------------------
 * Used for smaller, more refined spacing situations, specifically
 * within the context of a component (ie. the space between a label and a Text Input).
 *
 */
$SPACING_3XS: 0.125rem;
$SPACING_2XS: 0.25rem;
$SPACING_XS: 0.5rem;
$SPACING_S: 0.75rem;
$SPACING_M: 1rem;
$SPACING_L: 1.5rem;
$SPACING_XL: 2rem;
$SPACING_2XL: 2.5rem;
$SPACING_3XL: 3rem;
